// ******************
// this is all variable place
// ******************

// #Example Color
$whiteColor: #00000F;

// #font-color
$fontPrimaryColor: green;
$fontPrimarySecondary: green;
$fontPrimarySuccess: green;
$fontPrimaryWarming: green;
$fontPrimaryDanger: green;
$fontWhite: #ffffff;
$fontBlack: #000000;

// #Font-Size
$fontBanner: 36px;
$fontTittle: 24px;
$fontText: 12px;